@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
html{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
nav{
    height: 15vh;
    background-image: url(./HG-Work-Portfolio-2017-MNPS-Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center ;
    color: rgb(227, 241, 229);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    
}
.meny{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.meny a{
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 12px;
    border-radius: 10px;
}
.meny a:hover{
    background-color:crimson;
    color:white;
}
.logo{
    width: 25%;
    text-align: center;
    margin-left: 200px;
}
span{
    color: crimson;
}
.hello12{
    font-size: 24px;
    color: rgb(231, 216, 219);
}

header{
    min-height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./HG-Work-Portfolio-2017-MNPS-Background.webp);
    background-position: top center;
    background-size: cover;
    position: relative;
    
}
 .upper{
    font-size: 32px;
}
.middle{
    font-size: 74px;
}
.lower{
    font-size: 45px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 20px;
    transition: .3s ease;
    border-radius: 15px;
   
}

.btn:hover{
    color: white;
    background-color: crimson;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;   
    background-color: #f6f6f6;
}
.main{
    flex-direction: column;
    text-align: center;
    margin:0 auto;
    padding: 100px 0;
    
}
.title{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    color: #7fc0c9;
    
    
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.bottom .edu-info{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 16px;
    width: 90%;
    height: inherit;
    cursor: pointer;
    background-color: #ffffff;
    
    
    

}




.edu-info h3{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 3px;
}
.edu-info h5{
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 4px;
}
.edu-info h6{
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 4px;
}
.exp{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6ff;
    height: 100vh;
}
.para
{
    margin: 0 90px;
    margin-top: 30px;

}
.para p{
    font-size: 25px;
    text-indent: 300px;
}
.skill{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: #f6f6f6;
}
.lang{
    color: black;
}
.lang h3{
    margin:20px;
}
.lang ul{
    margin-top: 25px;
}
.lang ul li{
    margin-top: 5px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    
}
.lang ul li  i .fas{
    text-align: left;
}
article{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pro11 h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    margin: 20px 0;
    text-transform: uppercase;
} 
.pro11 ul{
    margin-top: 25px;
}
.pro11 ul li{
    margin-top: 5px;
    list-style-type: disc;
    text-transform: uppercase;
    margin-bottom: 20px;
}
footer{
    background-color: black;

    height: 25vh;
    
    

}
.foo{
    display: flex;
    justify-content: space-around;
    
}

    
.foo h1{
    color: white;
    font-size: 1.5rem;
    margin-top: 70px;
}